.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #3d3d3d;
    color: #fff;
}

.navbar-inverse .navbar-nav .active a, 
.navbar-inverse .navbar-nav .active a:focus, 
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #3d3d3d;
}

.decrypt-container {
    padding-top: 24pt;
}

.decrypt-button {
    margin-top: 8pt;
}