.section-container ol li,
.section-container ul li {
    font-size: 12pt;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #3d3d3d;
    color: #fff;
}

.navbar-inverse .navbar-nav .active a, 
.navbar-inverse .navbar-nav .active a:focus, 
.navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #3d3d3d;
}

.header {
    background: url(../../rsc/title_enzevalos.jpg) no-repeat;
    background-size: cover;
}

.header-container {
    height: 200pt;
}

.caption-center {
    color: #fff;
    text-align: center;
}

.section-container {
    padding: 16pt;
    padding-bottom: 26pt;
}

.faq-container {
    padding: 16pt;
    padding-bottom: 26pt;
}

.about p {
    font-size: 12pt;
}

.dark {
    background-color: #3d3d3d;
    color: #fff;
}

.dark a {
    color: #f39c12
}

.dark p{
    font-size: 12pt;
}

.app p {
    font-size: 12pt;
}

.motivation p {
    font-size: 12pt;
}

.goals p {
    font-size: 12pt;
}

.app-screenshot img {
    height: 480px;
}
